[submodule "shift_quantification_metrics/representation_based/sadge/metrics/mast3r"]
	path = src/shiftbench/shift_quantification_metrics/representation_based/sadge/metrics/mast3r
	url = https://github.com/naver/mast3r.git
